<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="2.0.0.0">
	<author href="http://www.example.com/"
          rim:copyright="Copyright 1998-2012 My Corp">My Corp</author>
	<name>Tank Fight</name>
	
	<rim:orientation mode="auto"/>
 
	<rim:loadingScreen backgroundImage="wall-1.jpg"
                     foregroundImage="wall-1.jpg"
                     onLocalPageLoad="true">
		<rim:transitionEffect type="zoomIn"/>
	</rim:loadingScreen>
         
	<rim:category name="games"/>   
  
	<icon src="a.png"/>
 
	<content src="tank_fight.html"/>
 
	<feature id="blackberry.ui.dialog"/>
 
	<access uri="http://www.somedomain.com" subdomains="true">
		<feature id="blackberry.app.event"/>
		<feature id="blackberry.invoke"/>
	</access> 
</widget>